<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
      <script src="/javascripts/test.js"></script>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="pregunta" >

       <div class="container-fluid">
         <div class="row">
           <div class="col-md-6">
             <form method="get" action="/test/<%= quizes[idQ].id %>">
               <p><strong>Pregunta: <%- quizes[idQ].pregunta %> </strong></p>
               <%- include(quizes[idQ].tipo) %>
               <br>
               <button type="submit" class="btn btn-primary">Siguiente</button>
             </form>
           </div>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->

</body>
</html>
