<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="s1">
      <div class="jumbotron">
        <div class="container">
          <h3>Tu resultado es: <%= resultado %> puntos</h3>
          <p><a href="/test">¡Volver a hacer el test!</a></p>
        </div>
      </div>
    </section>



    <footer id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap"-->

</body>
</html>
