<!-- views/partials/_form.ejs -->

<div class="form-group">
    <label for="preg" class="rem">Pregunta:</label>
    <input type="text" id="preg" class="form-control" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Pregunta">
</div>
<div class="form-group">
  <label for="tipo" class="rem">Tipo:</label>
  <select class="form-control" name="quiz[tipo]">
    <option value="../../partials/preguntas/pCorta">Pregunta Corta</option>
    <option value="../../partials/preguntas/pLarga">Pregunta Larga</option>
  </select>
</div>
<div class="form-group">
  <label for="resp" class="rem">Respuesta:</label>
  <input type="text" id="resp" class="form-control" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Respuesta"><br>
</div>
<input type="hidden" id="id" name="quiz[UserId]" value="<%= session.user.id %>"/><br>

<a href="/quizes"><button type="button" class="btn btn-danger">Cancelar</button></a>
<button type="submit" class="btn btn-success">Guardar</button>
