<!-- views/partials/comment_form.ejs -->
<textarea id="comment" name='comment[texto]' class="form-control" value"" placeholder='Escriba aquí su comentario'></textarea><br>
<button type="submit" class="btn btn-primary">Enviar</button>
