<!-- views/partials/header.ejs -->
<% if(!session.user){ %>
  <span class="right"><a href="/login">Login</a></span>
<% } else{ %>
  <span class="right"><a href="/logout">Logout</a></span>
<% } %>
<h2>Quiz<span>: el juego de las preguntas</span></h2>
