<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Quiz</title>
<!-- <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
<link rel='stylesheet'
      type='text/css'
      media='only screen and (min-width: 530px) and (max-width: 1000px) and (min-device-width: 481px)'
      href='/stylesheets/wide.css'>
<link rel='stylesheet'
      type='text/css'
      media='only screen and (max-width: 480px)'
      href='/stylesheets/smartphone.css'> -->
<!-- jQuery library -->
<script src="/javascripts/jquery.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Lasted compiled awesome icons -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/customs.css">
