<!-- views/partials/header.ejs -->
<% if(!session.user){ %>
  <span class="right"><a href="/login">Login</a></span>
<% } else{ %>
  <span>
    <%= session.user.username %>
    <form method="post" action="/logout?_method=delete">
      <button type="submit" onClick="return confirm('¿Seguro de que quieres salir?');">Salir</button>
    </form>
  </span>
<% } %>
<h2>Quiz<span>: el juego de las preguntas</span></h2>
