<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="s1">
      <% include ../../partials/errorValidate %>
      <h3>Editar pregunta:</h3>
      <form method="post" action="/quizes/<%= quiz.id %>?_method=put">
        <% include ../../partials/_form.ejs %>
      </form>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->

</body>
</html>
