<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <nav class="main" id="n1" role="navigation">
      <% include ../../partials/nav %>
    </nav>

    <section class="main" id="s1">

      <h3>Añadir pregunta:</h3>
      <form method="post" action="/quizes/<%= quiz.id %>/answer">
        <% include _form.ejs %>
      </form>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->"

</body>
</html>
