#logout{
  position: relative;
  transform: translate(0, 22%);
}

footer {
  height: 50px;
  background-color: #101010;
  position: relative;
  box-sizing: border-box;
  margin-top: 5%;
}

.footer-icons {
  position: absolute;
  transform: translate(0, 9%);
}
