<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="s1">
      <h3>Usuarios y sus puntuaciones:</h3>
      <% if(usuarios != null){ %>
        <ul>
        <% for(var i = 0; i < usuarios.length; i++){ %>
          <li> Usuario <%= i + 1 %>: <a href="#"><%= usuarios[i].username %></a> Puntuación: <%= usuarios[i].bestScore %></li>
        <% } %>
      </ul>
      <% } %>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->

</body>
</html>
