<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="s1">
      <% include ../../partials/errorValidate %>
      <h2>Create a new user:</h2>
      <form method="post" action="/user/new">
        <div class="field">
          <label for="username">Username:</label><br>
          <input type="text" id="username"  name="user[username]" size="30">
        </div>

        <div class="field">
          <label for="password">Password:</label><br>
          <input type="password" id="password" name="user[password]" size="30">
        </div>

        <div class="actions">
          <input type="submit" name="commit" value="Login">
        </div>
      </form>



    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->"

</body>
</html>
