<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../partials/header %>
    </header>

    <% include ../partials/nav %>

    <section class="main" id="s1">
      <h3>Bienvenido a <%= title %></h3>
      <p>El portal donde podrá crear sus propios juegos</p>
      <p><a href="/test">¡Comenzar test!</a></p>
    </section>

    <footer class="main" id="f1">
        <% include ../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->"

</body>
</html>
